.cube {
  background-color: #dddddd;
  width: 2.5%;
  height: 2rem;
  display: inline-block;
  margin: 0.2rem;
}

.row {
}

.col {
}

.Sudukodiv {
}

.cubetext {
  border: solid;
  background-color: #dddddd;
  border-color: #dddddd;
  border-bottom-color: #00bcd4 !important;
  border-radius: 20%;
  width: 50%;
  margin-left: 0.1rem;
  font-weight: bolder;
}
